@import '../../../styles/variables.scss';

.nav {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 300px;
    min-height: 100vh;

    background-color: $background-secondary-color;
    -webkit-box-shadow: 8px 8px 24px -18px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -18px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -18px rgba(66, 68, 90, 1);
}

.header {
    font-size: 1.9rem;

    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    text-align: center;

    color: $font-tertiary-color;
    border-bottom: 2px solid $font-tertiary-color;
}

.menu {
    font-size: 1.25rem;

    list-style: none;

    color: $font-tertiary-color;

    .menu__line {
        padding-top: 1rem;

        border-bottom: 2px solid $font-tertiary-color;
    }

    .menu__header {
        font-size: 1.5rem;

        padding-top: 1rem;
        padding-left: 2rem;
    }

    .menu__item {
        padding-top: 1rem;
        padding-left: 2rem;
    }
}

.menu__link {
    display: flex;
    align-items: center;

    padding-left: 0.5rem;

    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;

    color: $font-tertiary-color;

    .link__icon {
        font-size: 2rem;

        padding-bottom: 0.2rem;
    }

    .link__title {
        margin-left: 0.5rem;
    }

    &:hover {
        font-size: 1.30rem;

        color: #222;
    }
}

.logout {
    display: flex;

    font-size: 1.4rem;

    position: absolute;
    bottom: 10%;
    left: 16.5%;

    text-decoration: none;

    color: $font-tertiary-color;

    .logout__icon {
        font-size: 2rem;
        margin-right: 0.5rem;
    }
}
