@use '../../../styles/mixin.scss' as mixin;

@import '../../../styles/variables.scss';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
}

.container__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 1rem;

    border: 0.1rem solid $background-secondary-color;
    border-radius: 0.5rem;

    gap: 0.3rem;

    .icon {
        font-size: 3rem;

        cursor: pointer;

        &:last-child {
            margin-top: 0.6rem;
        }
    }

    .content {
        font-size: 1.5rem;
    }
}

.container__share {
    margin: 1.5rem 0;

    .icon {
        font-size: 3rem;

        cursor: pointer;
    }
}

.dislike:hover {
    color: #dd6161;
}

.heart:hover {
    color: #fcfc77;
}

.like:hover {
    color: #55ed4a;
}

.comments:hover {
    color: #ccc;
}

.likeActive {
    color: green;
}

.dislikeActive {
    color: red;
}
