@use '../../styles/mixin.scss' as mixin;

@import '../../styles/variables.scss';

.main {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    gap: 2rem;
    position: relative;
}

.container__comment {
    position: relative;

    display: flex;

    .comment__input {
        font-size: 1.25rem;

        width: 100%;
        margin-top: 1rem;
        padding: 0.75rem 1rem;

        color: $font-primary-color;
        border: 0.1rem solid $background-secondary-color;
        border-radius: 0.5rem;
        outline: none;
        background: transparent;
    }

    .comment__login {
        font-size: 1.25rem;

        position: absolute;
        top: 34%;
        right: 2%;

        padding: 0.3rem 0.75rem;

        cursor: pointer;

        border-radius: 2rem;
        background-color: $background-secondary-color;
    }
}

.container__comments {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
    padding: 0.4rem;

    border-bottom: 0.1rem solid #ccc;

    .comments__sort {
        display: flex;
        align-items: center;
    }
}

.container__showall {
    margin: 1rem 0;

    text-align: center;

    .showall__input {
        font-size: 1.25rem;

        padding: 0.5rem 1rem;

        color: $font-primary-color;
        border: 0.1rem solid $background-secondary-color;
        border-radius: 1.25rem;
        background-color: transparent;
    }
}
