@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;900&display=swap');
@import '../styles/variables.scss';


* {
    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    color: $font-primary-color;
    background-color: $background-primary-color;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
