@use '../../../styles/mixin.scss' as mixin;

@import '../../../styles/variables.scss';

.container {
    position: sticky;
}

.header {
    font-weight: 400;

    padding-right: 5rem;

    border-bottom: 1px solid #ccc;
}

.container__posts {
    display: flex;
    flex-direction: column;

    .posts {
        display: flex;
        align-items: center;

        padding: 0.5rem 1rem;

        cursor: pointer;
        transition: all 0.5s;

        gap: 1rem;

        &:hover {
            transform: translateX(3px);
        }
    }

    .image {
        border-radius: 0.5rem;

        object-fit: cover;

        background-color: #fff;
        padding: 0.2rem;
    }
}

.more {
    cursor: pointer;
    text-align: end;
}
