@use '../../styles/mixin.scss' as mixin;
@import '../../styles/variables.scss';

.form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .form__label {
        font-size: 0.75rem;

        margin-bottom: 0.4rem;
        margin-left: -0.3rem;

        color: #999;

        @include mixin.desktop-larger-min {
            font-size: 0.95rem;
        }
    }

    .container__icon__input {
        position: relative;

        .form__icon {
            font-size: 1.5rem;

            position: absolute;
            top: 0.5rem;

            color: #000842;
        }

        .form__input {
            font-size: 0.95rem;

            width: 21rem;
            padding: 0.5rem;
            padding-left: 1.9rem;

            border-bottom: 0.1rem solid $font-secondary-color;
            outline: none;

            @include mixin.small {
                width: 17rem;
            }

            @include mixin.desktop-larger-min {
                font-size: 1.1rem;
            }

            &::placeholder {
                color: #000842;
            }

            &:focus::placeholder {
                color: transparent;
            }
        }
    }

    .form__button {
        font-weight: 500;

        height: 2.9rem;
        margin-top: 3rem;

        cursor: pointer;
        letter-spacing: 0.063rem;

        color: $font-primary-color;
        border-radius: 2rem;
        background-color: $background-primary-color;

        @include mixin.desktop-larger-min {
            font-size: 1.1rem;
            height: 3.3rem;
        }

        &:hover {
            background-color: #4f03a0;
        }
    }
}