@use '../../styles/mixin.scss' as mixin;
@import '../../styles/variables.scss';

.main {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40rem;
    height: 30rem;

    background-color: $background-secondary-color;

    border-radius: 0.2rem;

    color: $font-secondary-color;

    @include mixin.tablet {
        width: 35rem;
    }

    @include mixin.small {
        width: 100vw;
    }

    .main__header {
        font-size: 2.3rem;
        font-weight: 500;

        margin-bottom: 1rem;

        color: inherit;

        @include mixin.small {
            font-size: 1.8rem;
        }

        @include mixin.desktop-larger-min {
            font-size: 2.2rem;
        }
    }

    .main__text {
        width: 30rem;
        font-size: 1.05rem;
        text-align: justify;

        @include mixin.small {
            width: 90vw;
            font-size: 0.9rem;
        }
    }

    .main__link {
        padding-top: 0.75rem;
        color: $font-secondary-color;
        text-decoration: underline;

        &:hover {
            color: #333;
        }
    }
}